<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simeio PS/MS Pricing Quoter</title>
    
   

    <!-- Main css styles -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

    <!-- Main javascript files -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

</head>
<body class="top-navigation">

    <!-- Wrapper-->
    <div class="wrapper wrapper-content">
        <div id="wrapper" class="container gray-bg">

            <!-- Page wrapper -->
            <%= render 'layouts/topnavbar' %>

            <!-- Page wraper -->
            <div id="page-wrapper" class="gray-bg">
                
                <nav id="Action" class="navbar navbar-static-top white-bg" role="navigation">
          
                    <ul class="nav navbar-nav navbar-left">
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Quote<span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li><a id="newquote" href="#">New</a></li>
                          </ul>
                        </li>
                      </ul>
                    
                </nav>

                    <div class="row border-bottom white-bg">

                        <!-- Main view  -->
                        <%= yield %>
                        
                        <!-- Footer -->
                        <%= render 'layouts/footer' %>
                    </div>

            </div>

        </div>
        <!-- End page wrapper-->

    </div>
    <!-- End wrapper-->

</body>
</html>
